* {
  box-sizing: border-box;
  margin :0px;
  padding: 0px;
}

html,
body,
.wrapper {
  font-size: 62.5%; /*ベースを10pxにするプロパティ　remの時に影響する*/
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.wrapper {
  margin: 0 auto;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  border: 2px black solid;
  color: black;
}

a {
  text-decoration: none;
}

/* wrapperのtitleの下線部分　擬似要素ではなく<span>で作るとアニメーション実装しやすい */

  /*  animation実装 top-wrapper下線 */
.border-a {
  display: block;
  border-top: 0.1rem solid white;
  width: 10rem;
  margin: 1rem auto;
} 


/********* 以下コンテンツ **********/

/* top-wrapper */

.top-wrapper {
  position: relative;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 31.5rem;
  padding-bottom: 7.5rem;
}

.top-wrapper h1 {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding-bottom: 2rem;
}

/* 当初の下線部　別途＜span＞追加でのanimation実装のためコメントアウト 200323 */
/* .top-wrapper h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0rem;
  display: inline-block;
  width: 6rem;
  height: 1px;
  transform: translate(-50%);
  background-color: white;
} */

.top-wrapper p {
  font-size: 1rem;
  padding-top: 2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
}

/* animation1  */
.top-animation {
  animation: top-animation 0.5s 1 linear forwards; /* forwardsでanimation終了時の状態を維持 */
}

@keyframes top-animation {
  /* フェードインと拡大縮小 */
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  20% {
    transform: scale(1);
    opacity: 0.2;
  }
  40% {
    transform: scale(0.9);
    opacity: 0.4;
  }
  60% {
    transform: scale(1);
    opacity: 0.6;
  }
  80% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.top-wrapper i {
  position: fixed;
  font-size: 1.7rem;
  color: orangered;
  top: 3%;
  left: 2%;
}

/* mouse-icon */
.top-wrapper .mouse-icon {
  margin-top: 20%;
}

/* introduction */

.introduction-wrapper {
  text-align: center;
}

.introduction-wrapper h2 {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.border-rotate {
  display: block;
  border-top: 0.1rem solid darkgray;
  width: 10rem;
  margin: 1rem auto;
} 

/* INTRO DUCTION h2 pのズームイン */

.zoom {
  animation: zoom 1s 1 linear;
  /* opacity: 1; */
}

@keyframes zoom {
  /* フェードインズームイン */
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* INTRO DUCTION 下線部の回転とスライド */
.slide-rotate {
  animation: slide-rotate 1s 1 linear;
  /* opacity: 1; */
}

@keyframes slide-rotate {
  0% {
    transform: translateX(-15rem) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem) rotate(180deg);
    opacity: 1;
  }
}

/* 当初の下線部　animation実装のためコメントアウト 200323 */
/* .introduction-wrapper h2::after {
  content: "";
  position: absolute; */
  /* left: 50%; */
  /* bottom: 0rem;
  display: inline-block;
  width: 6rem;
  height: 1px; */
  /* transform: translateX(-50%); */
  /* background-color: darkgray;
} */

/* ※不要　2003023※　introduction-wrapperのアニメーション　擬似要素（下線）のスクロールごのCSS */
/* .active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0rem;
  display: inline-block;
  width: 6rem;
  height: 1px;
  transform: translateX(-50%) rotate(180deg);
  background-color: darkgray;
  transition: transform 2s;
} */

.introduction-wrapper p {
  font-size: 1.1rem;
  padding-top: 2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  padding: 3rem 25rem 8rem;
  color: darkgray;
}

/* image-wrapperについて */

.image-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  width: 100%;
}

.image-wrapper01 {
  background-image: url(../img/lepy.jpg);
}

/* jQuery　縦回転　.image-wrapper01 p と　image-wrapper04 p */
.rotate {
  animation: rotate 1.5s 1 linear;
}

@keyframes rotate {
  0% {
    transform: rotateX(100deg);  /* 中心X軸を基準線に回転する */
    opacity: 0;
  }
  40% {
    transform: rotateX(-30deg);
    opacity: 0.25;
  }
  60% {
    transform: rotateX(15deg);
    opacity: 0.5;
  }
  80% {
    transform: rotateX(-10deg);
    opacity: 0.75;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.image-wrapper02 {
  background-image: url(../img/helo.jpg);
}

.image-wrapper03 {
  position: relative;
  background-image: url(../img/video.jpg);
  height: 468px;
  font-size: 4rem;
}

.image-wrapper03 img {
  position: absolute;
  top: 45%;
  left: 48%;
}

main .image-wrapper04 {
  background-image: url(../img/quotes.jpg);
  margin-top: 10%;
}

.image-wrapper04 p {
  font-size: 3rem;
}

.image-wrapper p {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  border: 2px white solid;
  padding: 2.5rem 8rem;
  margin: 12.8% 0;
}


/* contents-wrapper */

.contents-wrapper {
  text-align: center;
}

.contents-wrapper h2 {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 5rem;
  padding-bottom: 4rem;
  color: black;
}

.contents-wrapper h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0rem;
  display: inline-block;
  width: 10rem;
  height: 1px;
  transform: translate(-50%);
  background-color: darkgray;
}

.contents-wrapper nav ul {
  display: flex;
  padding: 4rem 0 2rem;
  font-size: 1.4rem;
  justify-content: center;
}

.contents-wrapper nav ul li a {
  text-decoration: none;
  padding-right: 3rem;
  color: darkgray;
}

.contents-wrapper nav ul li:last-child a {
  padding-right: 0rem;
}

/* nav クリック後　文字色 */
.contents-wrapper nav ul li a:active {
  color: black;
}

/* portfolios-list */

.contents-wrapper .portfolios-list {
  padding: 0 18rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio {
  background: border-box;
  position: relative;
  background: black;
  color: white;
  width: 32%;
  margin-bottom: 3rem;
}

.contents-wrapper .portfolios-list .portfolio img {
  opacity: 1;
  height: 100%;
  width: 100%;
}

/***** portfolios-list のimgにマウスが乗ったとき（hover） *****/

.contents-wrapper .portfolios-list .portfolio:hover img {
  opacity: 0.5;
  transform: scale(0.95, 0.95);
}

.portfolio-overlay {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.portfolio:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-title {
  font-size: 1.25rem;
  font-weight: 900;
}

.portfolio-text {
  position: relative;
  font-size: 1.7rem;
  font-weight: normal;
  letter-spacing: 0.1rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.portfolio-text::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0rem;
  display: inline-block;
  width: 4rem;
  height: 1px;
  transform: translate(-50%);
  background-color: orangered;
}

/* Show me more */
.contents-wrapper .contents-link {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.1rem 7.7rem;
  margin-top: 4rem;
  margin-bottom: 7rem;
}

/* logo-wrapper */

.logo-wrapper {
  text-align: center;
  background-color: #f5f5f5;
  padding-bottom: 11.5rem;
}

.logo-wrapper h2 {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 5rem;
  padding-bottom: 4rem;
  color: black;
}


/* animation実装に関する wrapper(OUR CLIENTS,ABOUT US)下線（<h2>に関するアニメーションの影響を受けないようにするため擬似要素からの変更） */
.border-b {
  display: block;
  border-top: 0.1rem solid darkgray;
  width: 10rem;
  margin: 1rem auto;
} 

/* 当初の下線部　別途＜span＞追加でのanimation実装のためコメントアウト 200323 */
/* .logo-wrapper h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0rem;
  display: inline-block;
  width: 6rem;
  height: 2px;
  transform: translate(-50%);
  background-color: darkgray;
} */

.logo-wrapper ul {
  display: flex;
  justify-content: center;
  padding-top: 3.5rem;
}

.logo-wrapper ul li a {
  text-decoration: none;
  display: inline-block;
  padding-right: 6rem;
}

.logo-wrapper ul li:last-child a {
  padding-right: 0rem;
}

/* about-wrapper */

.about-wrapper {
  text-align: center;
  margin-bottom: 10rem;
}

.about-wrapper h2 {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
}


/* 当初の下線部　別途＜span＞追加でのanimation実装のためコメントアウト 200323 */
/* .title-about::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0rem;
  display: inline-block;
  width: 6rem;
  height: 1px;
  transform: translate(-50%);
  background-color: darkgray;
} */
/* 点滅させない用 */
/* .title-about-show::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0rem;
  display: inline-block;
  width: 6rem;
  height: 1px;
  transform: translate(-50%);
  background-color: darkgray;
} */

.about-wrapper p {
  font-size: 1.1rem;
  padding-top: 2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  padding: 3rem 25rem 3rem;
  color: rgb(169, 169, 169);
}

/* animation5 ABOUT US  about-wrapper 点滅 クラスflash */

.flash {
  animation: flash 0.5s 2 linear;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ※<span>にてアニメーション実装のため、不要。　下線部の擬似要素のみ点灯させたいためのkeyframes */
/* .lighting {
  animation: lighting 0s 1 linear;
}

@keyframes lighting {
  100% {
    opacity: 1;
  }
} */

  /* about-items */

.about-items {
  display: flex;
  justify-content: space-between;
  margin: 0px 13rem;
}

.about-items img,
.about-items .about-text-item {
  width: 23%;
}

  /* about-text-item */
.about-items .about-text-item {
  border: 1px black solid;
}

.about-items .about-text-item h3 {
  position: relative;
  font-weight: 900;
  font-size: 2.5rem;
  padding: 10rem 0rem 4rem;
  line-height: 4rem;
  letter-spacing: 0.25rem;
}

.about-items .about-text-item h3::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0rem;
  display: inline-block;
  width: 12rem;
  height: 1px;
  transform: translate(-50%);
  background-color: darkgray;
}


  /* about-link */
.about-items .about-text-item .about-link {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.5rem 6rem;
  margin-top: 3rem;
}


/* whtchoose-wrapper */

.whychoose-wrapper {
  text-align: center;
}

.whychoose-wrapper h2 {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.border-buruburu {
  display: block;
  border-top: 0.1rem solid darkgray;
  width: 10rem;
  margin: 1rem auto;
} 

/* ※<span>にてアニメーション実装のため、不要。 下線部 */
/* .whychoose-wrapper h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0rem;
  display: inline-block;
  width: 6rem;
  height: 1px;
  transform: translate(-50%);
  background-color: darkgray;
} */

.whychoose-wrapper .whychoose-text {
  font-size: 1.1rem;
  padding-top: 2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  padding: 3rem 25rem 8rem;
  color: darkgray;
}

/* WHY CHOOSE US　左右ブルブル　アニメーション用 */
.buruburu {
  position: relative; /* right left を機能させるために必要 */
  animation: buruburu 200ms 4 linear;
}

@keyframes buruburu {
  0% {
    right: 0.5%;
  }
  /* 50% {
    right: 1%;
  } */
  100% {
    left: 0.5%;
  }
}

  /* deviece-icons */
.device-icons {
  display: flex;
  justify-content: space-between;
  margin: 0 18rem;
}

.device-icons .device {
  width: 29%;
}

.device-icons .device .icon-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 3rem;
}

.device-icons .device .icon-text {
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  color: darkgray;
  padding-top: 2rem;
}

/* アイコン表示のためのラジオボタン　device-radio　 */

.device-radio {
  text-align: center;
}

.device-radio ul li {
  display: inline-block;
  margin-top: 5rem;
  margin-right: 2.5rem;
}

.device-radio ul li:last-child {
  margin-right: 0;
}


.radio-btn {
  /* デフォルトのラジオボタンを非表示 */
  display: none;
}

/* device-radio04~06をPC版では非表示 */
.device-radio ul li .dev-rad04-pc::before,
.device-radio ul li .dev-rad04-pc::after,
.device-radio ul li .dev-rad05-pc::before,
.device-radio ul li .dev-rad05-pc::after,
.device-radio ul li .dev-rad06-pc::before,
.device-radio ul li .dev-rad06-pc::after {
  display: none;
}

.device-label {
  position: relative;
}

.device-label::before {
  content: "";
  display: block;
  background-color: #e8e8e8;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.3rem;
  height: 1.3rem;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
}

.device-label::after {
  content: "";
  display: block;
  background-color: #ee753d;
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border: 0px solid #e8e8e8;
  border-radius: 50%;
  opacity: 0;
}

.radio-btn:checked + .device-label::after {
  opacity: 1;
}

/* getin-wrapper */

.getin-wrapper {
  text-align: center;
}

.getin-wrapper h2 {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.border-zoom {
  display: block;
  border-top: 0.1rem solid darkgray;
  width: 10rem;
  margin: 1rem auto;
} 

/* <span>で作成のため、不要　200323 */
/* .getin-wrapper h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0rem;
  display: inline-block;
  width: 6rem;
  height: 1px;
  transform: translate(-50%);
  background-color: darkgray;
} */

.getin-wrapper .getin-text {
  font-size: 1.1rem;
  padding-top: 2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 200;
  padding: 3rem 25rem 8rem;
  color: darkgray;
}

/* info-wrapper */

.info-wrapper {
  display: flex;
}

  /* location */
.info-wrapper .location {
  background-color: #f5f5f5;
  width: calc(600 / 1500 * 100%);
  padding: 11rem 0 13rem 0;
  text-align: center;
}

.location h3 {
  font-weight: 700;
  padding: 1rem 0;
}

.location .location-info li {
  padding-top: 1rem;
}

  /* logo-icon */

.location .logo-icon {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.logo-icon li {
  padding-right: 1rem;
}

.logo-icon li:last-child {
  padding-right: 0;
}

.location a {
  color: #000;
}


/* contact */
.info-wrapper .contact {
  background-color: #E4E4E4;
  width: calc(900 / 1500 * 100%);
  padding: 11rem 20rem 0rem;
}

.info-wrapper .contact form {
  display: flex;
  flex-wrap: wrap;
}

.info-wrapper .contact input,
.info-wrapper .contact textarea {
  border-bottom: 1px solid #989898;
  border-top: 0;
  border-right: none;
  border-left: none;
  color: #989898;
  padding-left: 1rem;
}

.info-wrapper .contact input {
  background-color: #E4E4E4;
  width: 42.5%;
}

.info-wrapper .contact input:first-child {
  margin-right: 7.5rem;
}


.info-wrapper .contact textarea {
  background-color: #E4E4E4;
  width: 100%;
  margin-top: 3rem;
  /* resize: none; */
}

.info-wrapper .contact .contact-btn {
  text-align: right;
}

.info-wrapper .contact a {
  font-size: 1.3rem;
  padding: 1.1rem 5.7rem;
  margin-top: 3rem;
}

/* footer */

footer {
  background-color: black;
  height: 36rem;
  text-align: center
}

.footer-logo img {
  margin-top: 10rem;
}

footer p {
  color: white;
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

footer p:last-child {
  padding-top: 2rem;
}

footer a {
  color: #a25f1a;;
}

/****************** メディアクエリ　375px以下の時  ******************/

@media screen and (max-width: 375px) {
/* 共通 */
  .top-wrapper h1::after,
  .wrapper h2::after {
    width: 10rem;
  }

  .wrapper h2 {
    padding-top: 3.5rem;
  }

  .wrapper p,
  .whychoose-wrapper .whychoose-text,
  .getin-wrapper .getin-text {
    font-size: 1.3rem;
    padding: 2.5rem 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.1rem;
    font-weight: 200;
  }
/* .top-wrapper  */
  .top-wrapper {
    background-size: cover;
    background-position: center;
    padding-top: 0%;
    height: 400px;
  }

  .top-wrapper h1 {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    padding-top: 10rem;
    padding-bottom: 1rem;
  }

  .top-wrapper h1::after {
    bottom: -1rem;
  }

  .top-wrapper p {
    font-size: 1.3rem;
    padding: 2.5rem 0 0;
    line-height: 2.3rem;
    letter-spacing: 0.1rem;
    font-weight: 200;
  }

  .top-wrapper .mouse-icon {
    margin-top: 5rem;
  }

  .top-wrapper i {
    font-size: 3rem;
    top: 4%;
    left: 9%;
  }

/* .introduction-wrapper */
  .introduction-wrapper p {
    padding: 3rem;
  }

/* image-wrapper 共通 */
  .image-wrapper {
    height: 25rem;
    background-position: center;
  }

  .image-wrapper p {
    font-size: 1.3rem;
    padding: 1rem 3rem;
    margin-top: 10rem;
  }

/* image-wrapper01 */
  .image-wrapper01 {
   background-position: center;
  }


/* contents-wrapper */
  .contents-wrapper ul {
    flex-wrap: wrap;
  }

  .contents-wrapper nav ul {
    padding: 2rem 0 1rem;
  }
  .contents-wrapper nav ul li {
    width: 27%;
    padding-top: 2rem;
  }

  .contents-wrapper nav ul li a {
    padding-right: 0%;
  }

  .contents-wrapper .portfolios-list {
    padding: 1.7rem;
  }

  .contents-wrapper .portfolios-list .portfolio {
    width: 49%;
    margin-bottom: 1.7rem;
  }

  .contents-wrapper .contents-link {
    font-size: 1.5rem;
    padding: 1.5rem 8.5rem;
  }

/* logo-wrapper */

  .logo-wrapper {
    padding-bottom: 3rem;
  }

  .logo-wrapper ul {
    flex-wrap: wrap;
  }

  .logo-wrapper ul li  {
    width: 100%;
  }

  .logo-wrapper ul li a {
    padding: 0 0 2rem;
  }

/* about-wrapper */
  .about-wrapper {
    margin-bottom: 2.5rem;
  }
  .about-wrapper p {
    padding: 3rem;
  }

  .about-items {
    flex-wrap: wrap;
    margin: 2.5rem 1.5rem;
  }

  .about-items img, .about-items .about-text-item {
    width: 100%;
    padding-bottom: 1rem;
  }

  .about-text-item {
    height: 37.5rem;
  }

  .about-text-item br {
    display: none;
  }

  .about-items .about-text-item .about-link {
    padding: 1rem 11rem;
    font-size: 1.5rem;
  }

/* image-wrapper03 */
  .image-wrapper03 {
    height: 30rem;
  }

  .image-wrapper03 img {
    /* 仮の位置 */
    top: 35%;
    left: 42%;
  }

/* device-icons */
  .device-icons {
    margin: 0;
    overflow: auto;  /* はみ出た部分を隠す(autoでスクロールができる) */
  }

  .device-icons .device {
    width: 100%;
    flex: none;
  }

  .device-icons .device .icon-text {
    padding: 0 3.5rem;
    letter-spacing: 0;
    line-height: 2rem;
    font-size: 1.4rem;
  }

  .device-radio ul li {
    margin-top: 2rem;
  }

  .device-label::before {
    width: 1.1rem;
    height: 1.1rem;
  }

  .device-label::after {
    width: 1.3rem;
    height: 1.3rem;
  }

  /* device-radio04~06をスマホ版では表示 */
.device-radio ul li .dev-rad04-pc::before,
.device-radio ul li .dev-rad04-pc::after,
.device-radio ul li .dev-rad05-pc::before,
.device-radio ul li .dev-rad05-pc::after,
.device-radio ul li .dev-rad06-pc::before,
.device-radio ul li .dev-rad06-pc::after {
  display: block;
}

/* info-wrapper */
  .info-wrapper {
    display: inline-block;
  }

  .info-wrapper .location,
  .info-wrapper .contact {
    width: 100%;
    padding: 4.5rem 0 3.5rem;
    font-size: 2rem;
    font-weight: 200;
    line-height: 2rem;
  }

  .info-wrapper .contact {
    padding: 0rem 1.5rem 2.5rem;
  }

  .location .logo-icon {
    padding-top: 3rem;
  }

  .logo-icon li {
    padding-right: 3rem;
  }

  /* contact */
  .info-wrapper .contact input,
  .info-wrapper .contact input:first-child {
    margin: 0;
    width: 100%;
    padding: 3.5rem 0 1rem 1.5rem;
  }

  .info-wrapper .contact textarea {
    margin-top: 8rem;
  }

  .info-wrapper .contact a {
    font-size: 2rem;
    margin-top: 3.5rem;
  }

/* footer */
  footer {
    height: 100%;

  }

  .footer-logo img {
    width: 100%;
    margin-top: 3rem;
    padding: 0 1.5rem;
  }

  footer p {
    padding: 1.5rem 4.5rem 0;
    font-size: 1.5rem;
    line-height: 3rem;
  }

  footer p:last-child {
    padding-top: 0;
    padding-bottom: 3.5rem;
  }
}