@charset "utf-8";
body {
  background: #f0f8ff;
}
* {
  box-sizing: border-box;
}
.wrap {
  max-width: calc(1280/1920*100%);
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 20px;
  text-align: center;
}
.contents {
  display: inline-block;
  width: 600px;
  vertical-align:  middle;
}
.nav {
  background-color: brown;
  display: inline-block;
  width: 15%;
  vertical-align:  middle;
}

.column {
  background-color: aqua;
  display: inline-block;
  width: 80%;
  vertical-align:  middle;
  font-size: 15px;
}