<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3カラム応用</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="/Users/Junpei/desktop/codelab_front_basic/html/layout/3column+/CSS/style.css">
</head>
<body>
  <div class="wrap">
    <header class="header-logo">
        <img src="" alt=""> ロゴ画像
    </header>
    <main class="main">
    <!-- 左側のリンクリスト -->
    <div class="leftside-itemlist">
        <a href="#">item1</a>
        <a href="#">item2</a>
        <a href="#">item3</a>
        <a href="#">item4</a>
        <a href="#">item5</a>
        <a href="#">item6</a>
        <a href="#">item7</a>
        <a href="#">item8</a>
        <a href="#">item9</a>
        <a href="#">item10</a>
    </div>
    <!-- センターのコンテンツ -->
    <div class="center-contents">
      <!-- センターの1番上のブロック -->
      <div class="center-list">
        <ul class="list">
          <li class="list-text">テキストテキストテキストテキスト</li>
          <li class="list-text">テキストテキストテキストテキスト</li>
          <li class="list-text">テキストテキストテキストテキスト</li>
          <li class="list-text">テキストテキストテキストテキスト</li>
          <li class="list-text">テキストテキストテキストテキスト</li>
        </ul>
      </div>
      <!-- センターの上から2番目のブロック -->
      <div class="center-middle">
        <h2>サブタイトル</h2>
        <p class="product product1">product1</p>
        <p class="product product2">product2</p>
        <p class="product product3">product3</p>
        <p class="product product4">product4</p>
      </div>
        <!-- センターの上から3番目のブロック -->
      <div class="center-middle">
        <h2>サブタイトル</h2>
        <p class="product product1">product1</p>
        <p class="product product2">product2</p>
        <p class="product product3">product3</p>
        <p class="product product4">product4</p>
      </div>
    </div>
    <!-- 右側のバナー画像 -->
    <div class="rightside-banner">
        <img src="" alt="">バナー画像
    </div>
  </main>
    <footer class="footer">
      <p>Copyright(C)2018 テキストテキストテキストテキストテキストテキスト</p>
    </footer>
  </div>
</body>
</html>